$blue:  #6699fa;
//mobile menu
.navMobileContainer{
	padding: 20px 0;
}

.hamburger{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 7px;
	display: block;
	cursor: pointer;
	padding: 10px;
	float: right;
	z-index: 1000;
	position: relative;
	&:focus{
		outline: none;
	}
	.hamburgerBox{
		height: 25px;
		width: 35px;
		position: relative;
        display: block;
		.hamburgerLine{
			width: 100%;
			height: 3px;
			background-color: white;
			position: absolute;
			left: 0;
			top: 50%;
			transition: background-color .3s ease-in-out;
			&::before{
				content: '';
				width: 100%;
				height: 3px;
				background-color: white;
				top: 10px;
				position: absolute;
				left: 0;
				transition: transform .3s ease-in-out;
			}
			&::after{
				content: '';
				width: 100%;
				height: 3px;
				background-color: white;
				top: -10px;
				position: absolute;
				left: 0;
				transition: transform .3s ease-in-out;
			}
		}
	}
	
}
.hamburger--active{
	.hamburgerLine{
		background-color: transparent!important;
		transition: .3s;
	}
	.hamburgerLine::before{
		transform: translateY(-10px) rotate(45deg);
	}
	.hamburgerLine::after{
		transform: translateY(10px) rotate(-45deg);
	}
}
.mobileNav{
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 1000;
	opacity: 0;
	display: none;
	transition: .3s ease-in-out;
	.menu{
		display: grid;
		justify-content: center;
		align-content: center;
		height: 100%;
		ul{
			margin: auto;
			text-align: center;
			.current_page_item > a{
				text-decoration: line-through;
			} 
			li{
				padding: 5px;
				font-size: 1.4rem;
				
				a{
					text-decoration: none;
					color: white;
					text-transform: uppercase;
					font-size: 2rem;
					&:hover{
						text-decoration: none;
						color: $blue;
					}
				}
				ul{
					color: white;
					li{
						a{
							font-size: 1.5rem;
						}
						
					}
				}
			}
		}
	}
}
.mobileNav--active{
	opacity: 1;
	display: block;
}
.desktopMenu{
	background-color: black;
	.current_page_item a{
			color: $blue;
			text-decoration: line-through;
	}
	.menu{
		float: right;
		ul{
			display: flex;
			margin: 0;
			
			li{
				padding: 10px 20px;
				a{
					font-size: 1.6rem;
					color: white;
					&:hover{
						text-decoration: none;
						color: $blue;
					}
				}
				ul{
					display: none;
					position: absolute;
					background-color: black;
					.current_page_item a{
						
						text-decoration: line-through;
					
				}
					li{
						a{
							text-decoration: none;
						}
						
					}
				}
				&:hover ul{
					display: block;
				}
			}
		}
	}
}
/* sign up button */
.suBtn {
	background-color: #19b698;
	border-radius: 5px;
	padding: 10px 20px;
}
.mainContainer{
	header{
		background-color: black;
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
}
 
